<!DOCTYPE html>
<html>
<body>

  <div class="container">
    <img width="50" height="50" src="https://indexmod.github.io/trubizh/images/pine.png">
    </div>
    <br>
      <p>Це сайт СТ «Трубiж» у селi Зворичi</p>

      <h1>Меню</h1>
  <ul>
    {% assign mypages = site.pages | sort: "order" %}
    {% for page in mypages %}
     <li class="intro">
    <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <hr>
<p><a href="qa">FAQ</a></p>
<p><a href="https://www.facebook.com/groups/1827319437559156/about/">Група на Facebook</a></p>
</body>
</html>
