<!DOCTYPE html>
<html lang="{{ site.lang | default: UA }}">
<head>
	<meta charset="utf-8">
	<meta content="GOOGLE" name="google-site-verification">
	<meta content="chrome=1" http-equiv="X-UA-Compatible">
	<link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png">
	<link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
	<link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="/manifest.json" rel="manifest">
	<meta content="#ffffff" name="msapplication-TileColor">
	<meta content="/ms-icon-144x144.png" name="msapplication-TileImage">
	<meta content="#ffffff" name="theme-color">
	<meta content="YANDEX" name="yandex-verification">
	<title></title>
</head>
<body>
	{% seo %}
	<link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
	<meta content="width=device-width" name="viewport"><!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<div class="wrapper">
		<header>
			<p style="color:green;">СТ «Трубеж»</p>
		</header>
		<section>
			<h1>{{page.title}}</h1>
			<div>
				<p><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//indexmod.github.io/trubezh/{{page.permalink}}">Поділитися</a> <a href="http://prose.io/#indexmod/encyclopedia/edit/master/{{page.path}}">Редагувати</a></p>
			</div>{{ content | toc }}
			<div>
				<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//indexmod.github.io/encyclopedia/{{page.permalink}}">Поділитися</a> <a href="http://prose.io/#indexmod/encyclopedia/edit/master/{{page.path}}">Редагувати</a></p>
			</div>
		</section>
		<footer>
			{% include footer.html %}
		</footer>
	</div>
</body>
</html>
